﻿<div data-role="navbar" data-theme="b" data-iconpos="top">
  <ul>
    <li><a href="@Url.Action("Index", "Home")" data-icon="home">Home</a></li>
    <li><a href="@Url.Action("About", "Home")" data-icon="info">About Us</a></li>
    <li><a href="@Url.Action("Contact", "Home")" data-icon="check">Contact Us</a></li>
  </ul>
</div>